.workCard {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 600px;
  padding: 40px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.workCardDescription {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: var(--font-text-line-height);
  max-width: 300px;
}

.workCardTitle {
  color: var(--color-w);
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.workCardSubtitle {
  color: var(--color-g100);
  font-size: var(--font-md);
  word-break: break-all;
}
